import { Component, h, Host } from '@stencil/core';

@Component({
  tag: '<%= dasherize(scope) %>-<%= dasherize(name) %>',
  styleUrl: '<%= dasherize(name) %>.<%= dasherize(style) %>',
  shadow: true
})
export class <%= classify(name) %> {
  // --------------------------------------------------------------[ State ]
  // --------------------------------------------------------------[ Event ]
  // --------------------------------------------------------------[ Prop ]
  // --------------------------------------------------------------[ Watch ]
  // --------------------------------------------------------------[ Listen ]
  // --------------------------------------------------------------[ event hander ]
  // --------------------------------------------------------------[ public function ]
  // --------------------------------------------------------------[ private function ]
  // --------------------------------------------------------------[ lifecycle ]
  render() {
    return <Host></Host>;
  }
}
