mat-tree-node {
  &:hover {
    background: #daebf7;
  }
}
.nav-node {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  ion-text {
    flex: 1;
  }
}
