{
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 10000,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
