# Add files here to ignore them from prettier formatting

tmp
libs/*/build
apps/*/build
node_modules
/dist
/coverage
*.log
!*.config.js

**/*.en.md
libs/elements/hydrate/
libs/elements/vendors/
libs/elements/lib/
libs/elements/loader/
