# Add files here to ignore them from prettier formatting

tmp
libs/*/build
apps/*/build
node_modules
/coverage
*.log
!*.config.js
*.d.ts
**/*.en.md

dist/
vendors/
assets/

react-component-lib/

/libs/elements-angular/src/lib/directives
/libs/elements-react/src/lib/proxies*
/libs/elements/elements-cdk
/libs/elements/hydrate
/libs/elements/image-storage
/libs/elements/lib
/libs/elements/loader
/libs/elements/url
/libs/elements/util
/libs/elements/date
/libs/elements/vendors

createComponent.tsx
createOverlayComponent.tsx
