# Add files here to ignore them from prettier formatting

tmp
libs/*/build
apps/*/build
node_modules
/coverage
*.log
!*.config.js
*.d.ts
**/*.en.md

/decorate-angular-cli.js
/libs/elements-angular/src/lib/directives/proxies*
/libs/elements-react/src/lib/proxies.ts
/libs/elements-vue/src/lib/proxies.ts
/libs/elements-vue/src/lib/vue-component-lib/utils.ts
/libs/elements/date
/libs/elements/elements-cdk
/libs/elements/hydrate
/libs/elements/image-storage
/libs/elements/lib
/libs/elements/loader
/libs/elements/url
/libs/elements/util
/libs/elements/vendors
/migrations.json
assets/
createComponent.tsx
createOverlayComponent.tsx
dist/
react-component-lib/
vendors/
