@import './mixins';
@import '~@angular/material/theming';

// 基础样式
$primary: #3880ff !default;
$secondary: #0cd1e8 !default;
$tertiary: #7044ff !default;
$success: #10dc60 !default;
$warning: #ffce00 !default;
$danger: #f04141 !default;
$light: #f4f5f8 !default;
$medium: #989aa2 !default;
$dark: #222428 !default;

$colors: (
  primary: (
    base: $primary,
    contrast: #fff,
    shade: get-color-shade($primary),
    tint: get-color-tint($primary)
  ),
  secondary: (
    base: $secondary,
    contrast: #fff,
    shade: get-color-shade($secondary),
    tint: get-color-tint($secondary)
  ),
  tertiary: (
    base: $tertiary,
    contrast: #fff,
    shade: get-color-shade($tertiary),
    tint: get-color-tint($tertiary)
  ),
  success: (
    base: $success,
    contrast: #fff,
    shade: get-color-shade($success),
    tint: get-color-tint($success)
  ),
  warning: (
    base: $warning,
    contrast: #fff,
    shade: get-color-shade($warning),
    tint: get-color-tint($warning)
  ),
  danger: (
    base: $danger,
    contrast: #fff,
    shade: get-color-shade($danger),
    tint: get-color-tint($danger)
  ),
  light: (
    base: $light,
    contrast: #000,
    shade: get-color-shade($light),
    tint: get-color-tint($light)
  ),
  medium: (
    base: $medium,
    contrast: #fff,
    shade: get-color-shade($medium),
    tint: get-color-tint($medium)
  ),
  dark: (
    base: $dark,
    contrast: #fff,
    shade: get-color-shade($dark),
    tint: get-color-tint($dark)
  )
) !default;
