app-navbar {
  z-index: 20;
  position: absolute;
}

html.plt-desktop app-root {
  > ion-router-outlet {
    // 桌面端头部消失
    ion-header {
      display: none;
    }
    > ion-content {
      // 桌面端吸附底部
      .content {
        display: flex;
        // min-height: 100%;
        flex-direction: column;
        > .container {
          flex: 1;
        }
      }
    }
  }
}
