name: deploy-check

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - develop

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: install
        run: |
          yarn install --non-interactive --no-lockfile
      - name: build
        run: |
          yarn ng run aiao.io:build:production
      - name: build lazy-component-demo
        run: |
          yarn ng run lazy-component-demo:build:production
      - name: build lazy-element-demo
        run: |
          yarn ng run lazy-element-demo:build:production
      - name: build lazy-module-demo
        run: |
          yarn ng run lazy-module-demo:build:production
